.sp_qrQK1Sg_TwK{background-image:url(../../../yL/r/TeR_zgEAch2.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_qrQK1Sg_TwK.sx_764ca5{background-position:0 0}.sp_qrQK1Sg_TwK.sx_17ac80{background-position:0 -13px}

#bootloader_cj1vu{height:42px;}.bootloader_cj1vu{display:block!important;}